Checks:           'boost-*,bugprone-*,cert-*,cppcoreguidelines-*,clang-analyzer-*,modernize-*,performance-*,readability-*,hicpp-*,misc-*,-cert-err58-cpp,-misc-non-private-member-variables-in-classes'
WarningsAsErrors: '*'
